* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
}

main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
}

button {

    cursor: not-allowed;}

body{
    background-color: #0065C3;
    font-family: 'Gilroy';
    
}

header{
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 110;
    padding: 24px 40px;
    transform: translateY(-110%);
    transition: .3s ease;
    &.active {
        transform: translateY(0);
    }
    .logo {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    .side-mid{
       display: flex;
       justify-content: space-between;
       a{
          margin: 0 40px;
          transition: .3s ease;
       }
       a:hover{
          color: grey;
       }
    }
    .side-right{
        .buy-btn{
            padding: 10px;
            border: 1px white solid;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            transition: .3s ease;
        }
        .buy-btn:hover{
            background-color: white;
            color: #0065C3;
        }
    }
}

.screen {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.screen-one {
    z-index: 10;
}
.view-products{
    padding: 10px;
    border: 1px white solid;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    transition: .3s ease;
    .view-products:hover{
        background-color: white;
        color: #0065C3;
    }
}
.screen-one {
    background: linear-gradient(to top left, #2868B2, #102956);
    padding-top: 100px;
    overflow: hidden;
    .product-image{
        transform: translateY(110%);
        opacity: 0;
        transition: .6s ease;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
        position: absolute;
        right: 23em;
        img{
            width: 45em;
        }
    }
    .footer-l, .f-r-l, .f-r-r {
        transform: translateY(100%);
        transition: .5s ease;
        &.active {
            transform: translateY(0);
        }
    }
    .description-product{
        width: 400px;
        position: absolute;
        top: 180px;
        left: 200px;
        opacity: 0;
        transform: translateY(110%);
        transition: .3s ease;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
        p{
            font-weight: bold;
            font-size: 70px;
            color: white;
            margin-bottom: 40px;
        }
        span{
            font-size: 18px;
            color: white;
        }
        button{
            display: block;
            margin-top: 40px;
            
        }
    }
}

.screen-two {
    transform: translateX(0);
    transition: 300ms ease ;
    opacity: 0;
    &.active{
        opacity: 1;
        z-index: 10;
        transform: translateX(0);
    }
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top right, #163575, #2968B8);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 20%);
    grid-auto-rows: 40%;
    grid-gap: 10px;
    padding: 10% 10% 0 10%;
    .item {
        position: relative;
        text-align: center;
        transform: translateX(-100%);
        transition: 300ms ease ;
        opacity: 0;
        &.active{
            opacity: 1;
            transform: translateX(0);
        }
        .top-grid {
            position: relative;
            z-index: 2;
        }
        .bottom-grid {
            position: relative;
            z-index: 2;
        }
        img {
            width: 120px;
            height: 240px;
            margin-bottom: 5%;
            object-fit: contain;
            // box-shadow: -70px 50px 80px;
        }
        z-index: 2;
        span {
            color: white;
            font-size: 20px;
        }
    }
    .item::before {
        content: '';
        width: 300px;
        height: 120px;
        background-image: url(../img/ten.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        filter: contrast(200%);
        position: absolute;
        top: 60%;
        left: -25%;
        z-index: 1;
    }
}

.footer{
    overflow: hidden;
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    .footer-r{
        display: flex;
        width: 50%;
        height: 100%;
        .f-r-r{
            height: 100%;
            width: 50%;
            color: white;
            
            background-color:#3788DC ;
            
            .f-r-t{
                padding: 30px 40px;
                width: 100%;
                height: 80%;
                h2{
                    font-size: 30px;
                    font-weight: bolder;
                    margin: 30px 0;
                    
                }
            }
            .f-r-b{
                width: 100%;
                height: 20%;
                background-image: url("../img/photo_2021-06-29_18-13-30.jpg");
            }
        }
        .f-r-l{
            height: 100%;
            width: 50%;
            background-color: rgb(0, 0, 0);
            padding: 30px 40px;
            h2{
                font-size: 30px;
                font-weight: bolder;
                margin: 30px 0;
                color: #ACACAC;
            }
            p{
                color: #5a5a5a;
            }
        }
    }
    .footer-l{
        width: 50%;
        height: 100%;
        
        .f-l-b{
            background-color: rgb(255, 255, 255);
            display: flex;
            width: 100%;
            justify-content: space-between;
            .f-text{
                margin: 40px;
                h2{
                    font-size: 30px;
                    font-weight: bolder;
                    margin-bottom: 10px;
                }
            }
            .f-img{
                img{
                    height: 400px;
                    margin: 10px 20px;
                }
            }
        }
        .arrow{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 50px;
            .arrow-l{
                width: 50px;
                height: 100%;
                background-color: #266EC7;
                color: white;
                font-size: 20px;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .arrow-r{
                width: 50px;
                height: 100%;
                background-color: #266EC7;
                color: white;
                font-size: 20px;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.screen-three{
    transform: translatey(100%);
    transition: 300ms  ;
    opacity: 0;
    &.active{
        opacity: 1;
        z-index: 20;
        transform: translatey(0);
    }
    position: relative;
    .link-social{
        position: absolute;
        top: 50%;
        left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateY(-50%);
        height: 12em;
        a{
            opacity: 40%;
            transition: 300ms ;
        }
        img{
            line-height: 40em;
            width: 2em;
        }
    }
    background: linear-gradient(to top left, #323232, #181818);
    height: 100vh;
    .wrap{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80em;
        height: 35.5em;
        display: flex;
        .side-right{
            
            display: flex;
            align-items: flex-start;
            justify-content: center;
            img{
                width: 17em;
            }
        }
        
        .side-left, .side-right{
            width: 50%;
            transform: translatey(100%);
                transition: 300ms ease ;
                opacity: 0;
                &.active{
                    opacity: 1;
                    
                    transform: translateY(0);
                }
            
            p{
                font-weight: bold;    
                font-size: 4em;
                margin-bottom: 40px;
                color: white;
            }
            span{
                font-weight: bold;
                color: rgb(111, 111, 111);
            }
            .left-content-block{
                margin-top: 40px;
                h5{
                    font-weight: bold;
                    font-size: 20px;
                    color: white;
                }
                span{
                    font-size: 10px;
                }
                button{
                    display: block;
                    margin-top: 30px;
                    padding: 10px 80px;
                }
                .content-block-grid{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-auto-rows: 120px;
                    grid-gap: 7px;
                    margin: 20px 0 10px 0;
                    .item{
                        background-color: #313131;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-top: 10px;
                        cursor: pointer;
                        transition: 300ms;

                        .item:hover{
                            background-color: red;
                        }
                        span{
                            font-size: 12px;
                            text-align: center;
                        }
                        h5{
                            font-size: 30px;
                            text-align: center;
                        }
                        h6{
                            font-size: 13px;
                            background-color: black;
                            color: silver;
                            padding: 8px;
                            text-align: center;
                        }
                    }
                }
            }
            .volume-selection{
                margin-top: 20px;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-auto-rows: 100px;
                grid-gap: 5px;
                .item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    filter: invert(60%);
                    img{
                        width: 80px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}
